*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: #0E5472;
  font-family: Roboto Medium;
  font-size: 16px;
}
div {
  float: left;
  margin: 2% 0;
  width: 100%;
  padding: 20px 25px;
}
