*, *:before, *:after {
  box-sizing: border-box;
}
body {

}
div {
  background-color: #FFFFFF;
  float: left;
  margin: 2% 0;
  width: 100%;
  padding: 20px 25px;
}
.image {
  background-image: url("../images/busstop.jpg");
}
