*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: Roboto Medium;
  font-size: 16px;
  width: 360px;
}

.image { /** not working **/
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
a :hover {background-color: #C9DEE3;}
a :active {color: inherit;}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}

h2 {
  font-size: 1.125em;
}

h3 {
  font-size: 1.125em;
}

h4 {
  font-size: 1em;
}

/** All the code for the
static elements at the top **/

.stop-image {
  /** broken **/
  background-image: image("../images/stop image.png");
  width: 100%;
  height: 200px;
}
.static {
  position: fixed;
  top: 0;
  background-color: #0E5472;
}


.navigation {
  background-color: #0E5472;
  color: #FFFFFF;
  display: table;
}
ul.navigation {
  padding-bottom: 4px;
  padding-top: 10px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
ul.navigation li {
  display: inline-block;
  padding: 8px;
}
.search, .mapview {
  float: right;
}
.back-arrow, .stop-name {
  float: left;
}


/** all the code for the
scrolling elements **/

.buffer { /** This makes sure the content starts under the fixed items, this could also be done in Java easier **/
  margin-bottom: 280px;
}

/** header details **/
.header {
  background-color: #0E5472;
  color: #FFFFFF;
  display: table;
}
ul.header {
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
}
ul.header li {
  display: inline-block;

}
.direction, .number {
  float: left;
}
.time {
  float: right;
}

/** Line details **/
.line {
  background-color: #FFFFFF
  color: #37474F;
  width: 20%;
  display: table;
}
ul.line {
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
}
ul.line li {
  display: inline-block;

}
.destination {
  /** Need this to align vertically **/
}

.reroute .line > li {
  color: #B00020;
}
/** Cant get this part to make the text opaque **/
.out-of-service .line > li {
  opacity: 60%;
}


/** Static Android Navbar **/
.android-navbar {
  position: fixed;
  bottom: 0;
  margin: 0;
}
.buffer-bottom {
  margin-bottom: 50px
}
